Q1Write a code to print the data present in the second row of the dataframe, df.

In [4]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [5]:
df.loc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2 What is the difference between the functions loc and iloc in pandas.DataFrame?

loc is a label-based indexing method that is used to access rows and columns by labels or boolean arrays. The syntax of the loc method is df.loc[row_labels, column_labels]. Here, row_labels and column_labels refer to the row and column labels, respectively. loc returns a DataFrame that matches the specified labels.

iloc on the other hand, is an integer-based indexing method that is used to access rows and columns by integer position. The syntax of the iloc method is df.iloc[row_positions, column_positions]. Here, row_positions and column_positions refer to the integer positions of the rows and columns, respectively. iloc returns a DataFrame that matches the specified integer positions.

Q3 Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

In [6]:
reindex = [3,0,1,2]

new_df = df.reindex(reindex)
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [7]:
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [8]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Yes, there is a difference in the outputs of new_df.loc[2] and new_df.iloc[2].

new_df.loc: Since the index of new_df is now [3, 0, 1, 2], new_df.loc[] will print the row at the label 2 in the index.

new_df.iloc: new_df.iloc[2] returns the row that has the integer position 2 in the index.

Q4 Write a code to find the following statistical measurements for the above dataframe df1:

(i) mean of each and every column present in the dataframe.

(ii) standard deviation of column, ‘column_2’

In [9]:
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.931697  0.122019  0.028622  0.602066  0.609369  0.142339
2  0.181130  0.442997  0.197404  0.313251  0.829201  0.236282
3  0.084927  0.139528  0.372191  0.072145  0.471952  0.544035
4  0.677798  0.719825  0.994846  0.706539  0.808678  0.956966
5  0.842131  0.328327  0.419239  0.335282  0.035854  0.493509
6  0.028253  0.039649  0.383733  0.483927  0.072127  0.111841

In [10]:
means=[]

for each_col in list(df1.columns):
    means.append(df1[each_col].mean())

print(f"Mean of each column: {means}")
print(f"Standard Deviation of column_2: {df1['column_2'].std()}")

Mean of each column: [0.45765599615309044, 0.2987241382036512, 0.3993389407019918, 0.4188685238875467, 0.4711968426282698, 0.41416215152153707]
Standard Deviation of column_2: 0.2540491230404359

Q5 Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [11]:
df1['column_2'].loc[2]='new_val'

In [12]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.931697  0.122019  0.028622  0.602066  0.609369  0.142339
2  0.181130   new_val  0.197404  0.313251  0.829201  0.236282
3  0.084927  0.139528  0.372191  0.072145  0.471952  0.544035
4  0.677798  0.719825  0.994846  0.706539  0.808678  0.956966
5  0.842131  0.328327  0.419239  0.335282  0.035854  0.493509
6  0.028253  0.039649  0.383733  0.483927  0.072127  0.111841

In [14]:
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

The error is generated because one of the elements in the column is non-numeric (string), and while finding the mean the program is trying to add that string value to the numeric value of the column, which is not possible

Q6 What do you understand about the windows function in pandas and list the types of windows functions?

In pandas, a window function is a way to apply a calculation to a specific subset of data, called a "window," that moves through the dataset. This allows for calculations to be made on a rolling or expanding basis, depending on the type of window function used.

The types of window functions available in pandas can be broadly classified into the following categories:

1. Rolling functions: These functions compute a rolling statistic over a defined window size. Examples include rolling mean, rolling sum, rolling standard deviation, etc.

2. Expanding functions: These functions compute a cumulative statistic over the entire dataset up to the current point. Examples include expanding sum, expanding mean, etc.

3. Exponentially weighted functions: These functions compute a rolling statistic with weights that decay exponentially as the distance from the current point increases. Examples include exponentially weighted mean, exponentially weighted standard deviation, etc.

4. Cumulative functions: These functions compute a cumulative statistic over the entire dataset up to the current point. Examples include cumsum, cummax, cummin, etc.

5. Aggregating functions: These functions perform a groupby-style operation on a rolling or expanding window. Examples include groupby.mean(), groupby.sum(), etc.

In [15]:
data_dict = {
    'current_date':['2023-02-26']
}

df = pd.DataFrame(data_dict)
df

  current_date
0   2023-02-26

In [16]:
df['current_date']=pd.to_datetime(df['current_date'])

In [17]:
df['current_date'].dt.month

0    2
Name: current_date, dtype: int64

In [1]:
df['current_date'].dt.year

NameError: name 'df' is not defined